@font-face
  font-family: 'DancingScript'
  src: url('fonts/Dancing Script.ttf') format('truetype')
body, html
  height: 100%

.background-image
  background: url('images/throwdown.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.landing
  text-align: center

.landing-header
  font-family: 'DancingScript'
  font-size: 4em
  font-weight: bold
  color: white
  padding-bottom: 5%
  margin-top: 7%

.flip-clock-label
  font-size: 1em !important
  font-weight: bold !important
  color: white !important

.doom-clock
  display: inline-block
  width: auto
